<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.BoardMapper">
	<insert id="insertBoard"
			parameterType="kr.co.nft.lms.vo.Board">
		INSER INTO board(
			board_title
			,board_content
			,board_blind
			,member_id
			,board_privilege
			,board_create_date
			,board_update_date
		) VALUES (
			#{boardTitle}
			,#{boardContent}
			,N
			,#{member_id}
			,0
			,now()
			,now()
		)	
	</insert>
	
	<select id="selectTotalCount"
			resultType="int">
		select count(*) from board
	</select>
	
	<!-- 목록보기 -->
	<select id="selectBoardByPage"
			resultType="kr.co.nft.lms.vo.Board"
			parameterType="java.util.Map">
		SELECT 
			b.board_no boardNo
			, b.board_title boardTitle
			, b.member_id memberId
			, b.board_create_date boardCreateDate
		FROM notice n
		INNER JOIN board b
		ON n.board_no = b.board_no
		WHERE b.board_privilege= 0
		AND b.board_blind = 'N';	
			
	</select>
	<!-- 상세보기 -->
	<select id="selectBoardOne"
			resultType="kr.co.nft.lms.vo.Board"
			parameterType="int">
		SELECT 
			b.board_no boardNo
			, b.board_title boardTitle
			, b.board_content boardContent			
			, b.board_blind boardBlind
			, b.member_id memberId
			, b.board_privilege boardPrivilege
			, b.board_create_date boardCreateDate
			, b.board_update_date boardUpdateDate
		FROM notice n
		INNER JOIN board b
		ON n.board_no = b.board_no
		WHERE b.board_privilege= 0
		AND b.board_blind = 'N'
		AND n.board_no = ${boardNo};	
	</select>
	
</mapper>