<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.ExamMapper">

<!-- 시험문제 리스트  -->	
	<select id="selectExamListByPage"
			parameterType="java.util.Map"
			resultType="kr.co.nft.lms.vo.Exam">
			SELECT 
				exam_no 			examNo
				,exam_title 		examTitle
				,exam_count 		examCount
				,exam_max_score 	examMaxScore
				,exam_start_date 	examStartDate
				,exam_end_date 		examEndDate
			FROM exam
			ORDER BY exam_no ASC
			LIMIT #{beginRow}, #{rowPerPage};
	</select>
<!--  시험문제 수 -->
	<select id="countExam"
			resultType="int">
		SELECT count(*) 
		FROM exam
	</select>
	
<!-- 시험 상세보기 		 	 -->
	<select id="selectExamOne"
			parameterType="java.util.Map"
			resultType="kr.co.nft.lms.vo.Exam">
			SELECT	e.lecture_no			lectureNo
					,e.member_id			memberId
					,e.exam_no				examNo
					,e.exam_title			examTitle
					,e.exam_count			examCount
					,e.exam_max_score		examMaxScore
					,e.exam_start_date		examStartDate
					,e.exam_end_date		examEndDate
			FROM exam e
			GROUP BY e.exam_no
			HAVING e.exam_no = #{examNo};
	</select>
<!-- 	문제보기 상세보기  -->
	<select id="selectExamQuestionOne"
			parameterType="java.util.Map"
			resultType="kr.co.nft.lms.vo.ExamQuestion">
			SELECT	 eq.exam_question_no 		examQuestionNo
					,eq.exam_content 			examContent
					,eq.exam_correct_answer 	examCorrectAnswer
					,eq.exam_point 				examPoint
					,eq.exam_type 				examType
					,eq.exam_no 				examNo
			FROM exam_question eq
			HAVING eq.exam_no = #{examNo};
		</select>
<!-- 	보기 상세보기  -->
	<select id="selectExamExampleOne"
			parameterType="int"
			resultType="kr.co.nft.lms.vo.ExamExample">
			SELECT	 exam_question_no 		examQuestionNo
					,example_no				exampleNo
					,example_content		exampleContent
					,exam_no				examNo
			FROM exam_example
			WHERE exam_no = #{examNo} and exam_question_no = #{examQuestionNo};
			
	</select>


<!-- 시험 등록  -->
	<insert id="insertExam"
			parameterType="kr.co.nft.lms.vo.Exam">
<!--		시험 등록 -->
			INSERT INTO exam( 		
							member_id 
							,lecture_no
							,exam_title
							,exam_count
							,exam_max_score
							,exam_start_date
							,exam_end_date
							,exam_create_date
							,exam_Update_date
			) VALUES (		
							#{memberId}
							,#{lectureNo}
							,#{examTitle}
							,#{examCount}
							,#{examMaxScore}
							,#{examStartDate}
							,#{examEndDate}
							,NOW()
							,NOW()		
			);
	</insert>
<!-- 문제 등록  -->
	<insert id="insertExamQuestion"
			parameterType="kr.co.nft.lms.vo.Exam">
			<selectKey resultType="int" keyProperty="examNo" order="BEFORE">
				SELECT MAX(exam_no) FROM exam
			</selectKey>
			INSERT INTO exam_question(	 exam_no			
										,exam_question_no
										,exam_content
										,exam_correct_answer
										,exam_point
										,exam_type
										,exam_question_create_date
										,exam_question_update_date
			) VALUES(					#{examNo}
										,#{examQuestionNo}
										,#{examContent}
										,#{examCorrectAnswer}
										,#{examPoint}
										,#{examType}
										,NOW()
										,NOW()
			);	
	</insert>
<!-- 보기 등록  -->
	<insert id="insertExamExample"
			parameterType="kr.co.nft.lms.vo.Exam">
			<selectKey resultType="int" keyProperty="examNo" order="BEFORE">
				SELECT MAX(exam_no) FROM exam
			</selectKey>
			INSERT INTO exam_example(	 exam_no		
										,exam_question_no
										,example_no
										,example_content
										,example_create_date
										,example_update_date
			) VALUES( 					#{examNo}
										,#{examQuestionNo}
										,#{exampleNo}
										,#{exampleContent}
										,NOW()
										,NOW()
			);	
	</insert>
	
<!-- 시험 수정  -->
	<update id="updateExam"
			parameterType="kr.co.nft.lms.vo.Exam">
		UPDATE exam SET
			exam_title = #{examTitle}
			,exam_count= #{examCount}
			,exam_max_score= #{examMaxScore}
			,exam_start_date = #{examStartDate}
			,exam_end_date = #{examEndDate}
			,exam_update_date = NOW()
		WHERE exam_no = #{examNo}
	</update>
<!-- 문제 수정  -->
	<update id="updateExamQuestion"
			parameterType="kr.co.nft.lms.vo.ExamQuestion">
		UPDATE exam_question SET
			exam_question_no = #{examQuestionNo}
			,exam_content = #{examContent}
			,exam_correct_answer= #{examCorrectAnswer}
			,exam_point= #{examPoint}
			,exam_type = #{examType}
			,exam_update_date = NOW()
		WHERE exam_no = #{examNo}
	</update>
<!-- 보기 수정  -->
	<update id="updateExamExample"
			parameterType="kr.co.nft.lms.vo.ExamExample">
		UPDATE exam_example SET
			exam_question_no = #{examQuestionNo}
			,example_no= #{exampleNo}
			,example_content = #{exampleContent}
			,example_update_date = NOW()
		WHERE exam_no = #{examNo}
	</update>
	
	
<!-- 		시험 삭제 -->
	<delete id="deleteExam"
			parameterType="int">
			DELETE FROM exam
			WHERE exam_no = #{examNo}
	</delete>
	

<!-- 시험 답안 입력 (학생) -->
	<insert id="insertExamAnswer"
			parameterType="kr.co.nft.lms.vo.Exam">
			<selectKey resultType="int" keyProperty="examScore" order="BEFORE">
				SELECT 		ea.member_id memberId
							,SUM(eq.exam_point) AS examScore
				FROM 		exam_answer ea
				LEFT JOIN 	exam_question eq
				ON 			ea.exam_question_no = ea.exam_question_no
				WHERE 		eq.exam_no = ea.exam_no 
				AND	 		eq.exam_question_no= ea.exam_question_no 
				AND 		ea.exam_answer=eq.exam_correct_answer 
				AND 		ea.member_id='student'
			</selectKey>
			INSERT INTO exam_answer(
							 exam_question_No		
							,member_id 
							,exam_answer
							,exam_score
							,exam_answer_start_date
							,exam_answer_end_date
			) VALUES (		#{examQuestionNo}
							,memberId
							,#{examAnswer}
							,examScore
							,NOW()
							,NOW()		
			);
	</insert>
	
<!-- 시험확인 리스트  -->	
	<select id="selectExamScoreListByPage"
			parameterType="java.util.Map"
			resultType="kr.co.nft.lms.vo.Exam">
			SELECT 		ea.exam_no 									examNo
						,e.exam_title 								examTitle
						,ea.member_id 								memberId
						,SUM(eq.exam_point) AS 						examScore
						,if(ea.exam_answer_end_date='','X','O') 	examAnswerApply
						,ea.exam_answer_end_date 					examAnswerEndDate
			FROM 		exam_answer ea
			JOIN 		exam_question eq
			ON 			eq.exam_question_no = ea.exam_question_no
			JOIN 		exam e
			ON 			e.exam_no = eq.exam_no
			WHERE 		eq.exam_question_no= ea.exam_question_no 
			AND 		ea.exam_answer=eq.exam_correct_answer 
			AND 		ea.member_id='student'
			GROUP BY 	ea.exam_no
			ORDER BY 	ea.exam_no ASC
			LIMIT 		#{beginRow}, #{rowPerPage};
	</select>
	
<!--  시험확인 리스트 수 -->
	<select id="countExamScore"
			resultType="int">
		SELECT COUNT(DISTINCT exam_no) 
		FROM 	exam_answer
		WHERE 	member_id='student'
	</select>
			
			
<!-- 제출 시험 상세보기 		 	 -->
<!--  제출 답안 상세보기  -->
	<select id="selectExamScoreOne"
			parameterType="int"
			resultType="kr.co.nft.lms.vo.Exam">
			SELECT 	ea.exam_no 				examNo
					,ea.exam_question_no 	examQuestionNo
					,ea.exam_answer 		examAnswer
					,ea.exam_score 			examScore
			FROM exam_answer ea
			WHERE ea.exam_no= #{examNo} and ea.exam_question_no = #{examQuestionNo} and ea.member_id = 'student'
	</select>
		
	

</mapper>
	