<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.HomeworkMapper">

	<select id="selectHomeworkListByPage"
			parameterType="java.util.Map"
			resultType="kr.co.nft.lms.vo.Homework">
		SELECT
			homework_no homeworkNo
			,member_id memberId
			,lecture_no lectureNo
			,homework_title homeworkTitle
			,homework_content homeworkContent
			,homework_start_date homeworkStartDate
			,homework_end_date homeworkEndDate
			,homework_create_date homeworkCreateDate
			,homework_update_date homeworkUpdateDate
		FROM homework
		ORDER BY homework_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectHomeworkOne"
			parameterType="int"
			resultType="kr.co.nft.lms.vo.Homework">
		SELECT
			homework_no homeworkNo
			,homework_title homeworkTitle
			,member_id memberId
			,homework_content homeworkContent
			,homework_create_date homeworkCreateDate
		FROM homework
		WHERE homework_no = #{homeworkNo}
			
	</select>
	
	<insert id="insertHomework"
			parameterType="kr.co.nft.lms.vo.Homework">
			<selectKey resultType="int" keyProperty="homework_no" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>
		INSERT INTO homework(
			member_id
			,lecture_no
			,homework_title
			,homework_content
			,homework_start_date
			,homework_end_date
			,homework_create_date
			,homework_update_date 
		)VALUES(			
			#{memberId}
			,#{lectureNo}
			,#{homeworkTitle}
			,#{homeworkContent}
			,#{homeworkStartDate}
			,#{homeworkEndDate}
			,NOW()
			,NOW()
		)
	</insert>
	
	<update id="updateHomework"
			parameterType="kr.co.nft.lms.vo.Homework">
		UPDATE homework SET
			homework_title = #{homeworkTitle}
			,homework_content = #{homeworkContent}
			,homework_start_date = #{homeworkStartDate}
			,homework_end_date = #{homeworkEndDate}
			,homework_update_date = NOW()
		WHERE homework_no = #{homeworkNo}
	</update>
	
	<delete id="deleteHomework"
			parameterType="int">
		DELETE FROM homework
		WHERE homework_no = #{homeworkNo}
	</delete>

	<select id="selectTotalCount"
			resultType="int">
		SELECT COUNT(*) FROM homework
	
	</select>
	
	<!-- 학생의 과제 제출 mapper.xml -->
	
	<insert id="insertHomeworkSubmit"
			parameterType="kr.co.nft.lms.vo.HomeworkSubmit">
			<selectKey resultType="int" keyProperty="homework_submit_no" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>
		INSERT INTO Homework_submit(
			homework_no
			,member_id
			,homework_submit_title
			,homework_submit_content
			,homework_submit_score
			,homework_submit_feedback
			,homework_submit_create_date
			,homework_submit_update_date
		) VALUES (
			#{homeworkNo}
			,#{memberId}
			,#{homeworkSubmitTitle}
			,#{homeworkSubmitContent}
			,#{homeworkSubmitScore}
			,#{homeworkSubmitFeedback
			,NOW()
			,NOW()
		)
				
	</insert>
	
	<insert id="insertHomeworkSubmitFile"
			parameterType="kr.co.nft.lms.vo.HomeworkSubmitFile">
		INSERT INTO Homework_submit_file(
			homework_submit_no
			,homework_submit_file_original
			,homework_submit_file_size
			,homework_submit_file_type
			,homework_submit_file_create_date
			,homework_submit_file_update_date
		) VALUES (
			#{homeworkSubmitNo}
			,#{homeworkSubmitFileOriginal}
			,#{homeworkSubmitFileSize}
			,#{homeworkSubmitFileType}
			,NOW()
			,NOW()
		)
		
	</insert>

</mapper>