<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.LectureScheduleMapper">

	<select id="selectLectureScheduleListByLectureNo"
			parameterType="java.util.Map"
			resultType="kr.co.nft.lms.vo.LectureSchedule">
		SELECT 
			lecture_no lectureNo
			,lecture_schedule_date lectureScheduleDate
			, lecture_schedule_start_date lectureScheduleStartDate
			, lecture_schedule_end_date lectureScheduleEndDate
			, lecture_schedule_create_date lectureScheduleCreateDate
		FROM lecture_schedule
		WHERE lecture_no = #{ lectureNo }
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<insert id="insertLectureSchedule"
			parameterType="kr.co.nft.lms.vo.LectureSchedule">
		INSERT INTO lecture_schedule (
			lecture_no
			,lecture_schedule_date
			, lecture_schedule_start_date
			, lecture_schedule_end_date
			, lecture_schedule_create_date
		) VALUES (
			  #{ lectureNo }
			, #{ lectureScheduleDate }
			, #{ lectureScheduleStartDate }
			, #{ lectureScheduleEndDate }
			, NOW()
		)
	</insert>
	
	<delete id="deleteLectureSchedule"
			parameterType="kr.co.nft.lms.vo.LectureSchedule">
		DELETE FROM lecture_schedule
		WHERE lecture_schedule_date = #{ lectureScheduleDate }
		AND lecture_no = #{ lectureNo }
	</delete>
	
	<select id="selectLectureSchedulCount" resultType="int">
		SELECT COUNT(*) FROM lecture_schedule
	</select>
	
	<select id="selectLectureScheduleOne"
			resultType="kr.co.nft.lms.vo.LectureSchedule">
		SELECT 
			lecture_no lectureNo
			, lecture_schedule_date lectureScheduleDate
			, lecture_schedule_start_date lectureScheduleStartDate
			, lecture_schedule_end_date lectureScheduleEndDate
			, lecture_schedule_create_date lectureScheduleCreateDate
		FROM lecture_schedule
		WHERE lecture_no = #{ lectureNo }
		AND lecture_schedule_date = #{ lectureScheduleDate };
	</select>
	
	<update id="updateLectureSchedule"
			parameterType="kr.co.nft.lms.vo.LectureSchedule">
		UPDATE lecture_schedule
		SET 
			lecture_no = #{ lectureNo }
			, lecture_schedule_date = #{ lectureScheduleDate }          
			, lecture_schedule_start_date = #{ lectureScheduleStartDate }
			, lecture_schedule_end_date = #{ lectureScheduleEndDate }
			, lecture_schedule_create_date = NOW()
		WHERE lecture_no = #{ lectureNo }
		AND lecture_schedule_date = #{ lectureScheduleDate };
	</update>
</mapper>