<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.MemberMapper">
	<insert id="insertMember"
		parameterType="int">
		INSERT INTO member(
			member_id memberId
			,member_pw memberPw
			,member_pw_update_date memberPwUpdateDate
			,member_phone_no memberPhoneNo
			,member_level memberLevel
			,member_last_login_date memberLastLoginDate
			,member_create_date memberCreateDate
			,member_update_date memberUpdateDate
		) VALUES (
			#{memberId}
			,#{memberPw}
			,#{memberPwUpdateDate}
			,#{memberPhoneNo}
			,#{memberLevel}
			,NOW()
			,NOW()
			,NOW()
		)
	</insert>
	<insert id="insertManager"
			parameterType="int">
		INSERT INTO manager(
			member_id memberId
			,manager_entry_date managerEntryDate
			,manager_name managerName
			,manager_birth managerBirth
			,manager_gender managerGender
			,manager_email managerEmail
			,address_detail addressDetail
		) VALUES (
			#{memberId}
			,NOW()
			,#{managerName}
			,#{managerBirth}
			,#{managerGender}
			,#{managerEmail}
			,#{addressDetail}
		)
		
	</insert>
	
	<select id="selectIdCheck"
			parameterType="int">
		SELECT * FROM member 
		WHERE member_id = #{memberId}
	</select>

</mapper>