<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.MemberMapper">

	<!-- 목록 뽑기 -->

	<select id="selectManagerList"
			resultType="kr.co.nft.lms.vo.Manager">
		SELECT 	
			member_id memberId
			, manager_entry_date managerEntryDate 
			, manager_name managerName
			, manager_birth managerBirth
			, manage_gender managerGender
			, manager_email managerEmail
			, address_detail addressDetail
		FROM manager	
	</select>

	<select id="selectStudentList"
			resultType="kr.co.nft.lms.vo.Student">
		SELECT 	
			member_id memberId
			, student_education studentEducation
			, student_name studentName 
			, student_birth studentBirth
			, student_gender studentGender
			, student_email studentEmail
			, address_detail addressDetail
		FROM student	
	</select>

	<select id="selectTeacherList"
			resultType="kr.co.nft.lms.vo.Teacher">
		SELECT 	
			member_id memberId
			, teacher_entry_date teacherEntryDate
			, teacher_name teacherName
			, teacher_birth teacherBirth
			, teacher_gender teacherGender
			, teacher_email teacherEmail
			, address_detail addressDetail
		FROM teacher	
	</select>
	
	<!-- 목록 뽑기 -->
	
	<!-- 휴면 처리 -->
	
	<insert id="insertLevelHistoryOfManagerRecord"
			parameterType="kr.co.nft.lms.vo.Member">
		INSERT INTO level_history (
			member_id
			, level_history_new_level
			, level_history_reason
			, member_id2
			, level_history_update_date
		) VALUES (
			#{memberId}
			, -6
			, NULL
			, 'system'
			, NOW() 
		);
	</insert>

	<update id="updateManagerOfMemberTbl"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE member SET 
			member_level = -6
		WHERE member_id = #{memberId}	
	</update>
	
	<insert id="insertLevelHistoryOfTeacherRecord"
			parameterType="kr.co.nft.lms.vo.Member">
		INSERT INTO level_history (
			member_id
			, level_history_new_level
			, level_history_reason
			, member_id2
			, level_history_update_date
		) VALUES (
			#{memberId}
			, -5
			, NULL
			, 'system'
			, NOW() 
		);
	</insert>

	<update id="updateTeacherOfMemberTbl"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE member SET 
			member_level = -5
		WHERE member_id = #{memberId}	
	</update>
	
	<update id="updateTeacherOfTeacherTbl"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE teacher SET 
			member_level = -5
		WHERE member_id = #{memberId}
	</update>
	
	<insert id="insertLevelHistoryOfStudentRecord"
			parameterType="kr.co.nft.lms.vo.Member">
		INSERT INTO level_history (
			member_id
			, level_history_new_level
			, level_history_reason
			, member_id2
			, level_history_update_date
		) VALUES (
			#{memberId}
			, -4
			, NULL
			, 'system'
			, NOW() 
		);
	</insert>

	<update id="updateStudentOfMemberTbl"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE member SET 
			member_level = -4
		WHERE member_id = #{memberId}	
	</update>

	<update id="updateStudentOfStudentTbl"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE student SET 
			member_level = -4
		WHERE member_id = #{memberId}
	</update>

	<!-- 휴면 처리 -->
	
	<!-- 개인 정보 수정 -->

	<select id="selectMemberPhoto"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.MemberPhoto">
		SELECT 
			photo_name photoName
			, photo_origin_name photoOriginName
			, photo_type photoType
			, photo_size photoSize 
			, photo_create_date photoCreateDate
			, photo_update_date photoUpdateDate
		FROM member_photo
		WHERE member_id = #{memberId} 
	</select>
	
	<insert id="insertMemberPhoto"
			parameterType="kr.co.nft.lms.vo.MemberPhoto">
		
		INSERT INTO member_photo (
			member_id
			, photo_name
			, photo_origin_name
			, photo_type
			, photo_size
			, photo_create_date
			, photo_update_date
		) VALUES (
			#{memberId}
			, #{photoName}
			, #{photoOriginName}
			, #{photoType}
			, #{photoSize}
			, NOW()
			, NOW()
		);
	</insert>
	
	<update id="updateManagerByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE member SET 
			member_pw = #{memberPw}
			, member_phone_no = #{memberPhoneNo} 
		WHERE member_id = #{memberId} 		
	</update>
	
	<update id="updateManagerByManagerVo"
			parameterType="kr.co.nft.lms.vo.Manager">
		UPDATE manager SET
			manager_name = #{managerName}
			, manager_birth = #{managerBirth}
			, manager_gender = #{managerGender}
			, manager_email = #{managerEmail}
			, manager_entry_date = #{managerEntryDate}
		WHERE member_id = #{memberId} 		
	</update>
	
	<update id="updateTeacherByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE member SET 
			member_pw = #{memberPw}
			, member_phone_no = #{memberPhoneNo} 
		WHERE member_id = #{memberId} 		
	</update>
	
	<update id="updateTeacherByTeacherVo"
			parameterType="kr.co.nft.lms.vo.Teacher">
		UPDATE teacher SET
			teacher_name = #{teacherName}
			, teacher_birth = #{teacherBirth}
			, teacher_gender = #{teacherGender}
			, teacher_email = #{teacherEmail}
			, teacher_entry_date = #{teacherEntryDate}
		WHERE member_id = #{memberId} 		
	</update>

	<update id="updateStudentByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member">
		UPDATE member SET 
			member_pw = #{memberPw}
			, member_phone_no = #{memberPhoneNo} 
		WHERE member_id = #{memberId} 		
	</update>

	<update id="updateStudentByStudentVo"
			parameterType="kr.co.nft.lms.vo.Student">
		UPDATE student SET 
			student_name = #{studentName}
			, student_birth = #{studentBirth}
			, student_gender = #{studentGender}
			, student_email = #{studentEmail}
			, student_education = #{studentEducation}
		WHERE member_id = #{memberId} 
				
	</update>
	
	<!-- 개인 정보 수정 -->

	<!-- 상세보기 -->
	
	<select id="selectManagerOneByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Member">
		SELECT 
			member_id memberId
			, member_phone_no memberPhoneNo
			, member_last_login_date memberLastLoginDate
			, member_pw memberPw 
		FROM member 
		WHERE member_id = #{memberId} 
	</select>
	
	<select id="selectManagerOneByManagerVo"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Manager">
		SELECT 
			manager_name managerName
			, manager_birth managerBirth
			, manager_gender managerGender
			, manager_email managerEmail 
			, manager_entry_date managerEntryDate 
		FROM manager 
		WHERE member_id = #{memberId} 
	</select>
	
	<select id="selectTeacherOneByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Member">
		SELECT 
			member_id memberId
			, member_phone_no memberPhoneNo
			, member_last_login_date memberLastLoginDate
			, member_pw memberPw 
		FROM member 
		WHERE member_id = #{memberId} 
	</select>
	
	<select id="selectTeacherOneByTeacherVo"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Teacher">
		SELECT 
			teacher_name teacherName
			, teacher_birth teacherBirth
			, teacher_gender teacherGender
			, teacher_email teacherEmail 
			, teacher_entry_date teacherEntryDate
		FROM teacher 
		WHERE member_id = #{memberId} 
	</select>

	<select id="selectStudentOneByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Member">
		SELECT 
			member_id memberId
			, member_phone_no memberPhoneNo
			, member_last_login_date memberLastLoginDate
			, member_pw memberPw 
		FROM member 
		WHERE member_id = #{memberId} 
	</select>

	<select id="selectStudentOneByStudentVo"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Student">
		SELECT 
			student_name studentName
			, student_birth studentBirth
			, student_gender studentGender
			, student_email studentEmail 
			, student_education studentEducation 	
		FROM student 
		WHERE member_id = #{memberId} 
	</select>
	
	<!-- 상세보기 -->
	
	<!-- 회원 가입 -->	
	
	<insert id="insertManagerByManagerVo"
			parameterType="kr.co.nft.lms.vo.Manager">
			
		INSERT INTO manager (
			member_id
			, manager_entry_date
			, manager_name
			, manager_birth
			, manager_gender
			, manager_email 
			, address_detail 
		) VALUES (
			#{memberId}
			, #{managerEntryDate}
			, #{managerName}
			, #{managerBirth}
			, #{managerGender}
			, #{managerEmail}
			, #{addressDetail}
		)
				
	</insert>
	
	<insert id="insertTeacherByTeacherVo"
			parameterType="kr.co.nft.lms.vo.Teacher">
		INSERT INTO teacher (
			member_id
			, teacher_entry_date
			, teacher_name
			, teacher_birth
			, teacher_gender
			, teacher_email 
			, address_detail 
		) VALUES (
			#{memberId}
			, #{teacherEntryDate}
			, #{teacherName}
			, #{teacherBirth}
			, #{teacherGender}
			, #{teacherEmail}
			, #{addressDetail}
		)
				
	</insert>
		
	<insert id="insertStudentByStudentVo"
			parameterType="kr.co.nft.lms.vo.Student">
		INSERT INTO student (
			member_id
			, student_education
			, student_name
			, student_birth
			, student_gender
			, student_email 
			, address_detail 
		) VALUES (
			#{memberId}
			, #{studentEducation}
			, #{studentName}
			, #{studentBirth}
			, #{studentGender}
			, #{studentEmail}
			, #{addressDetail}
		)
				
	</insert>
	
	<insert id="insertManagerByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member">
			
		INSERT INTO member(
			member_id
			, member_pw
			, member_pw_update_date 
			, member_phone_no
			, member_level
			, member_last_login_date
			, member_create_date
			, member_update_date 
		) VALUES (
			#{memberId}
			, password(#{memberPw})
			,NOW()
			,#{memberPhoneNo}
			,#{memberLevel}
			,NOW()
			,NOW()
			,NOW()
		)
		
	</insert>

	<insert id="insertTeacherByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member">
			
		INSERT INTO member(
			member_id
			, member_pw
			, member_pw_update_date 
			, member_phone_no
			, member_level
			, member_last_login_date
			, member_create_date
			, member_update_date 
		) VALUES (
			#{memberId}
			, password(#{memberPw})
			,NOW()
			,#{memberPhoneNo}
			,#{memberLevel}
			,NOW()
			,NOW()
			,NOW()
		)
		
	</insert>

	<insert id="insertStudentByMemberVo"
			parameterType="kr.co.nft.lms.vo.Member">
			
		INSERT INTO member(
			member_id
			, member_pw
			, member_pw_update_date 
			, member_phone_no
			, member_level
			, member_last_login_date
			, member_create_date
			, member_update_date 
		) VALUES (
			#{memberId}
			, password(#{memberPw})
			,NOW()
			,#{memberPhoneNo}
			,#{memberLevel}
			,NOW()
			,NOW()
			,NOW()
		)
		
	</insert>

	<!-- 회원 가입  -->	

	<select id="selectMemberOne"
			parameterType="kr.co.nft.lms.vo.Member"
			resultType="kr.co.nft.lms.vo.Member">
		SELECT 
			member_id memberId
			, member_level memberLevel
		FROM member	
		WHERE member_id = #{memberId} and member_pw = password(#{memberPw})
	</select>	
	
	<select id="selectIdCheck"
			parameterType="int">
		SELECT * FROM member 
		WHERE member_id = #{memberId}
	</select>

</mapper>