<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.NoticeMapper">
	<insert id="insertNoticeInBoard"
			parameterType="kr.co.nft.lms.vo.Notice">
		<selectKey resultType="int" keyProperty="noticeNo" order="AFTER">
			SELECT last_insert_id()
		</selectKey> 
		INSERT INTO board(
			board_title
			,board_content
			,board_category
			,member_id
			,board_privilege
			,board_blind
			,board_create_date
			,board_update_date
		) VALUES (
			#{noticeTitle}
			,#{noticeContent}
			,'공지'
			,#{memberId}
			,#{noticePrivilege}
			,'N'
			,NOW()
			,NOW()
		)	
	</insert>
	
	<!-- Notice 테이블에 insert -->
	<insert id="insertNotice"
			parameterType="kr.co.nft.lms.vo.Notice">
		INSERT  INTO notice(
			board_no
		) VALUES (
			#{noticeNo}
		)
	</insert>
	
	<!-- 목록보기 -->
	<select id="selectNoticeListByPage"
			resultType="kr.co.nft.lms.vo.Notice"
			parameterType="java.util.Map">
		SELECT 
			n.board_no noticeNo
			, b.board_title noticeTitle
			, b.board_content noticeContent
			, b.board_category noticeCategory
			, b.member_id memberId
			, b.board_privilege noticePrivilege
			, b.board_blind boardBlind
			, b.board_create_date noticeCreateDate
			, b.board_update_date noticeUpdateDate
			
		FROM notice n
		INNER JOIN board b
		ON n.board_no = b.board_no
		WHERE <![CDATA[b.board_privilege <= #{memberLevel}]]>
		AND b.board_blind = 'N'
		ORDER BY n.board_no DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
	
	<select id="selectNoticeListTotalCount"
			parameterType="int"
			resultType="int">
		SELECT COUNT(*)
		FROM notice n
		INNER JOIN board b
		ON n.board_no = b.board_no
		WHERE <![CDATA[b.board_privilege <= #{memberLevel}]]>
		AND b.board_blind = 'N'
	</select>
	
	<!-- 상세보기 -->
	<select id="selectNoticeOne"
			resultType="kr.co.nft.lms.vo.Notice"
			parameterType="int">
		SELECT 
			n.board_no noticeNo
			, b.board_title noticeTitle
			, b.board_content noticeContent			
			, b.board_blind noticeBlind
			, b.member_id memberId
			, b.board_category noticeCategory
			, b.board_privilege noticePrivilege
			, b.board_create_date noticeCreateDate
			, b.board_update_date noticeUpdateDate
		FROM notice n
		INNER JOIN board b
		ON n.board_no = b.board_no
		WHERE b.board_blind = 'N'
		AND n.board_no = #{noticeNo}
	</select>
	<!-- 수정 -->
	<update id="updateNoticeInBoard"
			parameterType="kr.co.nft.lms.vo.Notice">
		UPDATE board
		SET board_title = #{noticeTitle}
			, board_content = #{noticeContent}
			, board_privilege =#{noticePrivilege}
		WHERE board_no = #{noticeNo}
	</update>
	
	<!-- 삭제(블라인드로 변경) -->
	<update id="deleteNotice"
			parameterType="int">
		UPDATE board
		SET board_blind = 'Y'
		WHERE board_no = #{noticeNo}
	</update>
	
	
	<!-- ■■■■■■■■■■■■■■■■NoticeFile■■■■■■■■■■■■■■■■ -->
	
	
	<select id="selectNoticeFileNameList"
			parameterType="int"
			resultType="String">
		SELECT
			board_file_name noticeFileName
		FROM board_file
		WHERE board_no = #{noticeNo}
	</select>
	
	<select id="selectNoticeFileOneList"
			parameterType="int"
			resultType="kr.co.nft.lms.vo.NoticeFile">
		SELECT
			board_file_no noticeFileNo
			,board_file_name noticeFileName
			,board_file_origin_name noticeFileOriginName
			,board_file_type noticeFileType
			,board_file_size noticeFileSize
		FROM board_file
		WHERE board_no = #{noticeNo}
	</select>

	<insert id="insertNoticeFile"
			parameterType="kr.co.nft.lms.vo.NoticeFile">
		INSERT INTO board_file(
			board_no
			,board_file_name
			,board_file_origin_name
			,board_file_type
			,board_file_size
		) VALUES (
			#{noticeNo}
			,#{noticeFileName}
			,#{noticeFileOriginName}
			,#{noticeFileType}
			,#{noticeFileSize}
		)
	</insert>
	
	<delete id="deleteNoticeFileList"
			parameterType="int">
		DELETE FROM board_file
		WHERE board_no = #{noticeNo}
	</delete>
	
	<delete id="deleteNoticeFileOne"
			parameterType="int">
		DELETE FROM board_file
		WHERE board_file_no = #{noticeFileNo}
	</delete>
	
</mapper>