<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.ScheduleMapper">

	<select id="selectScheduleListByMonth"
			resultType="kr.co.nft.lms.vo.Schedule">
		SELECT 
			schedule_no scheduleNo
			, schedule_title scheduleTitle
			, schedule_content scheduleContent
			, member_id memberId
			, schedule_date scheduleDate
			, schedule_create_date scheduleCreateDate
			, schedule_update_date scheduleUpdateDate
			, DAY(schedule_date) scheduleDateDay
		FROM schedule
		WHERE YEAR(schedule_date) = #{ year } AND MONTH(schedule_date) = #{ month }
		ORDER BY DAY(schedule_date) ASC
	</select>
	
	<select id="selectScheduleOne"
			resultType="kr.co.nft.lms.vo.Schedule">
		SELECT 
			schedule_no scheduleNo
			, schedule_title scheduleTitle
			, schedule_content scheduleContent
			, member_id memberId
			, schedule_date scheduleDate
			, schedule_create_date scheduleCreateDate
			, schedule_update_date scheduleUpdateDate
		FROM schedule
		WHERE schedule_no = #{ scheduleNo }
	</select>
	
	<insert id="insertSchedule"
			parameterType="kr.co.nft.lms.vo.Schedule">
		INSERT INTO schedule (
			schedule_title
			, schedule_content
			, member_id
			, schedule_date
			, schedule_create_date
			, schedule_update_date
		) VALUES (
			#{ scheduleTitle }
			, #{ scheduleContent }
			, #{ memberId }
			, #{ scheduleDate }
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateSchedule"
			parameterType="kr.co.nft.lms.vo.Schedule">
		UPDATE schedule
		SET
			schedule_no = #{ scheduleNo }
			, schedule_title = #{ scheduleTitle }
			, schedule_content = #{ scheduleContent }
			, schedule_date = #{ scheduleDate }
			, schedule_update_date = NOW()
			, member_id = #{ memberId }
		WHERE schedule_no = #{ scheduleNo }
	</update>
	
	<delete id="deleteSchedule"
			parameterType="int">
		DELETE FROM schedule
		WHERE schedule_no = #{ scheduleNo }
	</delete>
	
</mapper>