<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.ScheduleMapper">

	<select id="selectScheduleList"
			resultType="kr.co.nft.lms.vo.Schedule">
		SELECT 
			schedule_no scheduleNo
			, schedule_title scheduleTitle
			, schedule_content scheduleContent
			, member_id memberId
			, schedule_date scheduleDate
			, schedule_create_date scheduleCreateDate
			, schedule_update_date scheduleUpdateDate
		FROM schedule
	</select>
	
	<select id="selectScheduleOne"
			resultType="kr.co.nft.lms.vo.Schedule">
		SELECT 
			schedule_no scheduleNo
			, schedule_title scheduleTitle
			, schedule_content scheduleContent
			, member_id memberId
			, schedule_date scheduleDate
			, schedule_create_date scheduleCreateDate
			, schedule_update_date scheduleUpdateDate
		FROM schedule
		WHERE schedule_no = #{ scheduleNo }
	</select>
	
	<insert id="insertSchedule"
			parameterType="kr.co.nft.lms.vo.Schedule">
		INSERT INTO schedule (
			schedule_no
			, schedule_title
			, schedule_content
			, member_id
			, schedule_date
			, schedule_create_date
			, schedule_update_date
		) VALUES (
			#{ scheduleNo }
			, #{ scheduleTitle }
			, #{ scheduleContent }
			, #{ memberId }
			, #{ scheduleDate }
			, NOW()
			, NOW()
		)
	</insert>
	<!-- 
	<update id="updateSchedule">
	
	</update>
	
	<delete id="deleteSchedule">
	
	</delete>
	 -->
</mapper>