<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nft.lms.mapper.SurveyMapper">

		<select id="selectSurveyListByPage"
				resultType="map">
			SELECT
				l.lecture_no lectureNo
				,l.lecture_name lectureName
				,s.survey_no surveyNo
				,s.survey_title surveyTitle
				,s.survey_content surveyContent
				,s.survey_create_date surveyCreateDate
				,s.survey_update_date surveyUpdateDate
				,s.survey_startline_date surveyStartlineDate
				,s.survey_deadline_date surveyDeadlineDate
				,s.member_id memberId
				,s.lecture_no
			FROM lecture AS l
			INNER JOIN survey AS s
			WHERE l.lecture_no = #{lectureNo}
			ORDER BY lecture_no
		</select>
		
		<select id="countSurvey" resultType="int">
			SELECT count(*) from survey
		</select>
		
		<select id="selectSurveyQuestionListByPage"
				parameterType="java.util.Map"
				resultType="kr.co.nft.lms.vo.SurveyQuestionList">
			SELECT
				survey_question_list_no surveyQuestionListNo
				,survey_question_list_name surveyQuestionListName
				,survey_question_list_content surveyQuestionListContent
				,survey_question_list_create_date surveyQuestionListCreateDate
				,survey_question_list_update_date surveyQuestionListUpdateDate
				FROM survey_question_list
				ORDER BY survey_question_list_no
				LIMIT #{beginRow}, #{rowPerPage}
		
		</select>
		
		<select id="countSurveyList" resultType="int">
			select count(*) from survey_question_list
		</select>
		
		
		<select id="selectSurveyQuestionList"
				parameterType="java.util.List"
				resultType="kr.co.nft.lms.vo.SurveyQuestionList">
			SELECT
				survey_question_list_no surveyQuestionListNo
				,survey_question_list_name surveyQuestionListName
				,survey_question_list_content surveyQuestionListContent
				FROM survey_question_list
				ORDER BY survey_question_list_no
		</select>
		
		
		<insert id="insertSurvey"
				parameterType="kr.co.nft.lms.vo.Survey">
			<selectKey resultType="int" keyProperty="surveyNo" order="AFTER">
				SELECT last_insert_id()
			</selectKey>
			INSERT INTO survey(
				survey_title
				,survey_content
				,survey_create_date
				,survey_update_date
				,survey_startline_date
				,survey_deadline_date
				,lecture_no
				,member_id
			) VALUES (
				#{surveyTitle}
				,#{surveyContent}
				,NOW()
				,NOW()
				,#{surveyStartlineDate}
				,#{surveyDeadlineDate}
				,#{lectureNo}
				,#{memberId}
			)
		</insert>
		
		<insert id="insertSurveyQuestionList"
				parameterType="kr.co.nft.lms.vo.Survey">
			INSERT INTO survey_question_list(
				survey_question_list_name
				,survey_question_list_content
				,survey_question_list_create_date
				,survey_question_list_update_date
			) VALUES (
				#{surveyQuestionListName}
				,#{surveyQuestionListContent}
				,NOW()
				,NOW()
			)
		</insert>
		
		<insert id="insertSurveyQuestion"
				parameterType="kr.co.nft.lms.vo.SurveyQuestion">
			INSERT INTO survey_question(
				survey_question_no
				,survey_no
				,survey_question_list_no
				,survey_question_content
				,survey_question_type
				,survey_question_create_date
				,survey_question_update_date
			) VALUES(
				#{surveyQuestionNo}
				,#{surveyNo}
				,#{surveyQuestionListNo}
				,#{surveyQuestionContent}
				,#{surveyQuestionType}
				,NOW()
				,NOW()
			)
		</insert>
		
		<select id="selectSurveyList"
				parameterType="java.util.Map"
				resultType="kr.co.nft.lms.vo.Survey">
			SELECT
				survey_no surveyNo
				,survey_title surveyTitle
				,survey_content surveyContent
				,survey_create_date surveyCreateDate
				,survey_update_date surveyUpdateDate
				,survey_startline_date surveyStartlineDate
				,survey_deadline_date surveyDeadlineDate
				,lecture_no lectureNo
				,member_id memberId
				FROM survey
				ORDER BY survey_no
		</select>
		
		<select id="getSurveyOne"
				parameterType="int"
				resultType="kr.co.nft.lms.vo.Survey">
			SELECT
				survey_no surveyNo
				,survey_title surveyTitle
				,survey_content surveyContent
				,survey_create_date surveyCreateDate
				,survey_update_date surveyUpdateDate
				,survey_startline_date surveyStartlineDate
				,survey_deadline_date surveyDeadlineDate
				,lecture_no lectureNo
				,member_id memberId
				FROM survey
				WHERE survey_no = #{surveyNo}
		</select>
		
		<select id="getSurveyQuestionList"
				resultType="map">
				SELECT
					a.survey_question_no surveyQuestionNo
					,a.survey_no surveyNo
					,a.survey_question_list_no surveyQuestionListNo
					,a.survey_question_content surveyQuestionContent
					,a.survey_question_type surveyQuestionType
					,a.survey_question_create_date surveyQuestionCreateDate
					,a.survey_question_update_date surveyQuestionUpdateDate
					,b.survey_question_list_name surveyQuestionListName
					,b.survey_question_list_content surveyQuestionListContent
					,b.survey_question_list_create_date surveyQuestionListCreateDate
					,b.survey_question_list_update_date surveyQuestionListUpdateDate
				FROM survey_question AS a
				INNER JOIN survey_question_list AS b
				ON a.survey_question_list_no = b.survey_question_list_no
				WHERE a.survey_no = #{surveyNo}
				ORDER BY survey_question_no
		</select>
		
		<insert id="insertSurveyMultipleAnswer"
				parameterType="kr.co.nft.lms.vo.SurveyAnswer">
			INSERT INTO survey_multiple_answer(
				survey_question_no
				,survey_no
				,member_id
				,survey_answer_type
				,survey_multiple_answer_content
				,survey_multiple_answer_create_date
				,survey_multiple_answer_update_date
			) VALUES (
				#{surveyQuestionNo}
				,#{surveyNo}
				,#{memberId}
				,#{surveyAnswerType}
				,#{surveyMultipleAnswerContent}
				,NOW()
				,NOW()
			)
		</insert>
		
		
		<insert id="insertSurveyShortAnswer"
				parameterType="kr.co.nft.lms.vo.SurveyAnswer">
			INSERT INTO survey_short_answer(
				survey_question_no
				,survey_no
				,member_id
				,survey_answer_type
				,survey_short_answer_content
				,survey_short_answer_create_date
				,survey_short_answer_update_date
			) VALUES (
				#{surveyQuestionNo}
				,#{surveyNo}
				,#{memberId}
				,#{surveyAnswerType}
				,#{surveyShortAnswerContent}
				,NOW()
				,NOW()
			)
		</insert>
		
		<select id="getMultipleSurveyAnswer"
				resultType="map">
			
			SELECT
			sq.survey_question_list_no surveyQuestionListNo
			,sq.survey_no surveyNo
			,sq.survey_question_no surveyQuestionNo
			,ql.survey_question_list_name surveyQuestionListName
			,sm.member_id memberId
			,sm.survey_answer_type surveyAnswerType
			,group_concat(sm.survey_multiple_answer_content separator ', ') surveyMultipleAnswerContent
			FROM survey s
			INNER JOIN survey_question AS sq
			ON sq.survey_no = s.survey_no
			INNER JOIN survey_question_list AS ql
			ON sq.survey_question_list_no = ql.survey_question_list_no
			INner join survey_multiple_answer AS sm
			ON sm.survey_question_no = sq.survey_question_no AND sq.survey_no = sm.survey_no
			GROUP BY sq.survey_question_list_no;
		</select>
		
		<select id="getShortSurveyAnswer"
				resultType="map">
			SELECT
			sq.survey_question_list_no surveyQuestionListNo
			,ss.survey_no surveyNo
			,ss.survey_question_no surveyQuestionNo
			,ql.survey_question_list_name surveyQuestionListName
			,ss.member_id memberId
			,ss.survey_answer_type surveyAnswerType
			,group_concat(ss.survey_short_answer_content separator ', ') AS surveyShortAnswerContent	
			FROM survey s
			INNER JOIN survey_question AS sq
			ON s.survey_no = sq.survey_no
			INNER JOIN survey_question_list AS ql
			ON sq.survey_question_list_no = ql.survey_question_list_no
			INNER JOIN survey_short_answer AS ss 
			ON sq.survey_question_no = ss.survey_question_no AND sq.survey_no = ss.survey_no
			GROUP BY sq.survey_question_list_no
			
		</select>
		
		<select id="getAnswerAverage"
				resultType="map"
				parameterType="kr.co.nft.lms.vo.SurveyMultipleAnswer">
			SELECT
			AVG(sma.survey_multiple_answer_content) surveyMultipleAnswerContent 
			FROM survey s
			INNER JOIN survey_question AS sq
			ON sq.survey_no = s.survey_no
			INNER JOIN survey_question_list AS ql
			ON sq.survey_question_list_no = ql.survey_question_list_no
			INner join survey_multiple_answer AS sma
			ON sma.survey_question_no = sq.survey_question_no AND sq.survey_no = sma.survey_no
			GROUP BY ql.survey_question_list_no;
		</select>
		
		<select id="getAnswerCount"
				resultType="map">
			SELECT
			sma.survey_no surveyNo
			,ql.survey_question_list_no
			,sma.survey_question_no
			,COUNT(CASE WHEN survey_multiple_answer_content = 1 THEN 1 END)  surveyMultipleAnswerContent1
			,COUNT(CASE WHEN survey_multiple_answer_content = 2 THEN 1 END)  surveyMultipleAnswerContent2
			,COUNT(CASE WHEN survey_multiple_answer_content = 3 THEN 1 END)  surveyMultipleAnswerContent3
			,COUNT(CASE WHEN survey_multiple_answer_content = 4 THEN 1 END)  surveyMultipleAnswerContent4
			,COUNT(CASE WHEN survey_multiple_answer_content = 5 THEN 1 END)  surveyMultipleAnswerContent5
			FROM survey s
			INNER JOIN survey_question AS sq
			ON sq.survey_no = s.survey_no
			INNER JOIN survey_question_list AS ql
			ON sq.survey_question_list_no = ql.survey_question_list_no
			INner join survey_multiple_answer AS sma
			ON sma.survey_question_no = sq.survey_question_no AND sq.survey_no = sma.survey_no
			GROUP BY ql.survey_question_list_no
		</select>
		
		
		
		<select id="questionListCount"
				resultType="map">
			SELECT
			ql.survey_question_list_no surveyQuestionListNo
			FROM survey_question_list AS ql
			INNER JOIN survey_question AS sq
			ON ql.survey_question_list_no = sq.survey_question_list_no
			WHERE sq.survey_question_type = '객관식'
		</select>
		
		<select id="getQuestionList"
				parameterType="int"
				resultType="kr.co.nft.lms.vo.SurveyQuestionList">
			SELECT 
			survey_question_list_no surveyQuestionListNo
			,survey_question_list_name surveyQuestionListName
			,survey_question_list_content surveyQuestionListContent
			FROM survey_question_list
			WHERE survey_question_list_no = #{surveyQuestionListNo}
		</select>
		
		<update id="updateSurveyQuestionList"
				parameterType="kr.co.nft.lms.vo.SurveyQuestionList">
			UPDATE survey_question_list SET 
				survey_question_list_name = #{surveyQuestionListName}
				,survey_question_list_content = #{surveyQuestionListContent} 
				,survey_question_list_update_date = NOW()
				WHERE survey_question_list_no = #{surveyQuestionListNo}
		</update>
		
</mapper>